@import "../themes/default";

/*---Start--Header---*/
#navbar {
  display: block !important;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: black;
  transition: top 0.3s;
  z-index: 99;
  overflow: hidden;

  border-bottom: 0.1px solid rgba(230, 207, 89, 0.43);
  animation: color-change 8s linear infinite;
  @keyframes color-change {
    0%,100%{
      border-color:#F6F1E9;
    }
    25%{
      border-color:#efe778;
    }
    50%{
      border-color:#c98e2f;
    }
    75%{
      border-color:#4F200D;
    }
  }

  .container-fluid{
    width: 100% !important;
    .header-all{
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: nowrap;
      padding-top: 18px;
      padding-bottom: 18px;
      margin: 0 5px;
      .header-nav{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 0;
            @media screen and (max-width: 1028px) {
              display: none;
            }
            li{ 
              list-style: none;
              a{ 
                margin-right: 20px;
                color: $text-light-c0;
                text-decoration: none;
              }
            }
      }
      .header-search{
        @media screen and (max-width: 900px) {
          display: none;
        }
        .search-bar{
          position: relative;
          .search{
            display: flex;
            align-items: center;
            .search__input{
              padding: 5px 28px 5px 10px;
              display: block;
              border-radius: 8px;
              border: none;
            }
            span{
              position: absolute;
              right: 10px;
              cursor: pointer;
            }
          }
        }
      }
      .header-service{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        li{
          list-style: none;
          a{
            text-decoration: none;
            color: $text-light-c0;
          }
        }
      }
      .menu-toggle{
        #toggle{
          display: block;
          width: 28px;
          height: 30px;
          margin: 30px auto 10px;

          span:after,span::before{
            content: "";
            position: absolute;
            left: 0;
            top: -9px;
          }

          span:after{
            top: 9px
          }

          span{
            position: relative;
            display: block;
          }

          span, span:before, span:after{
            width: 100%;
            height: 5px;
            background-color: #888;
            transition: all 0.3s;
            backface-visibility: hidden;
            border-radius: 2px;
          }
          // on activation
          #toggle.on span {
            background-color: transparent;
          }

          #toggle.on span:before {
            transform: rotate(45deg) translate(5px, 5px);
          }

          #toggle.on span:after {
            transform: rotate(-45deg) translate(7px, -8px);
          }
          #toggle.on + #menu {
            opacity: 1;
            visibility: visible;
          }
        }

        #menu {
          position: relative;
          color: #999;
          width: 200px;
          padding: 10px;
          margin: auto;
          font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
          text-align: center;
          border-radius: 4px;
          background: white;
          box-shadow: 0 1px 8px rgba(0,0,0,0.05);
          /* just for this demo */
          opacity: 0;
          visibility: hidden;
          transition: opacity .4s;
        }
        #menu:after {
          position: absolute;
          top: -15px;
          left: 95px;
          content: "";
          display: block;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          border-bottom: 20px solid white;
        }
        ul, li, li a {
          list-style: none;
          display: block;
          margin: 0;
          padding: 0;
        }
        li a {
          padding: 5px;
          color: #888;
          text-decoration: none;
          transition: all .2s;
        }
        li a:hover,
        li a:focus {
          background: #1ABC9C;
          color: #fff;
        }
      }
    }
  }
}
/*---End--Header---*/
.footer {
  background-color: #f5f5f5;
}

.btn-Buy {
  @extend .buttonBuy;
  width: 120px;
  height: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 80%;
  margin: 0 auto;
}

#tbody {
  .container {
    .row {
      .col {
        .card {
          width: 330px;
          min-height: 0px;
          border-radius: 15px;
          padding: 0px 20px;
          background-color: black;
          color: white;
          position: relative;
          &:hover {
            min-height: 410px;
            transition: 0.5s;
          }
          @media screen and (max-width: 768px) {
            width: 270px;
            min-height: 0px;
            border-radius: 15px;
            padding: 0px 20px;
            margin: 30px 0px;
            background-color: black;
            color: white;
            position: relative;
          }
          .card__heart {
            font-size: 25px;
            position: absolute;
            left: 26;
            top: 6px;
          }
          .card_cart {
            font-size: 25px;
            position: absolute;
            left: unset;
            right: 20px;
            top: 10px;
          }
          .card_img {
            transition: 0.5s;

            img {
              width: 80%;
              object-fit: cover;
            }
          }
          .card-body {
            position: absolute;
            opacity: 0;
            bottom: -200px;
            transition: 0.5s;

            .card__title {
              text-align: center;
              font-size: 20px;
            }
            @media screen and (max-width: 768px) {
              bottom: -220px;
            }
          }

          .card-bottom {
            position: absolute;
            bottom: -130px;
            left: 25%;
            transition: 0.5s;

            opacity: 0;
            .rating-button {
              .card_action {
                display: flex;
                justify-content: space-between;
                .btn-Buy {
                  text-align: center;
                  line-height: 2.5;
                  width: 100%;
                }
                .price {
                  display: block;
                  width: 120px;
                  height: 40px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.card:hover .card-body {
  bottom: 120px !important;
  transition: 0.5s;
  opacity: 100 !important;
}

.card:hover .card_img {
  transform: translateY(-90px) rotate(-20deg);
  transition: 0.5s;
}
.card:hover .card-bottom {
  bottom: 12px !important;
  opacity: 100 !important;
  transition: 0.5s;
}

.backToTop {
  width: 50px;
  height: 50px;
  background: #000000;
  border-radius: 8px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  color: #e9dfdf;
  transition: all 0.2s;
  box-shadow: -4px 4px 24px -10px #f55f8d;


  border: 1px solid rgba(230, 207, 89, 0.43);
  animation: color-change 8s linear infinite;
  @keyframes color-change {
    0%,100%{
      border-color:#F6F1E9;
    }
    25%{
      border-color:#efe778;
    }
    50%{
      border-color:#c98e2f;
    }
    75%{
      border-color:#4F200D;
    }
  }
}